<!-- content heading -->
<% if (title) { %>
   <h1><%= title %></h1>
   <% } else {
     res.redirect('/')
   } %>

   <%- messages() %>

   <% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
  
<div class="login">
    <form id="updateForm" action="/account/update-password" method="post">
        <fieldset>
          <div>
            <label for="account_password">Password*:</label>
            <div  class="input-wrapper">
              <input type="password" name="account_password" id="password" placeholder="Enter Password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,}$" title="At least 8 characters long with a minimum of 1 uppercase, 1 digit and 1 special char.">
              <i class="fas fa-eye" id="togglePassword"></i>
            </div>
          </div>
        
        <p class="requirements">* required</p>
        <button type="submit" id="submit" disabled>Update</button>
        <input type="hidden" name="account_id" value="<%= locals.account_id %>">
    </fieldset>
</form>
  </div>
  <script src="/js/script.js"></script>
  <script src="/js/update-form.js"></script>
