/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 16px; /* or some other value */
}

/* base/global styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 1em;
  /* list-style: none; */
}

li {
  list-style-type: disc; /* Use bullet points */
}

a {
  color: #0000ff; /* blue */
  text-decoration: none;
  background-color: transparent;
  padding: 0 5px;
}

a:hover {
  color: #000080; /* slightly darker blue */
  text-decoration: underline;
}

img {
  vertical-align: middle;
  border-style: none;
}

/* layout styles */
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem; /* 16px */
  line-height: 1.5;
  color: #212529; /* almost black */
  background-color: #fff; /* white */
}

body {
  /* Adjust the path as needed */
  background-image: url("/images/site/small_check.jpg");
  background-repeat: repeat;
}

#wrapper {
  max-width: 800px;
  width: 100%;
  /* margin: 10px auto; */
  /* padding: 10px; */
  background-color: white;
  /* border: 4px solid turquoise; */
  /* border-radius: 10px; */
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* header styles */
header {
  background-color: white;
  color: black;
  padding: 0px;
  text-align: center;
}

#top-header {
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#top-header .siteName {
  font-size: 2em;
  font-weight: bold;
}

#top-header #tools {
  font-size: 0.8em;
  font-weight: bold;
}

#top-header .siteName a,
#top-header #tools a {
  text-decoration: none;
  color: black;
}

#top-header .siteName a:hover,
#top-header #tools a:hover {
  color: red;
}

/* navigation styles */
nav {
  background-color: #333;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}

nav li {
  flex-grow: 1;
  list-style-type: none; /* suppress bullet points */
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

/* Responsive styles for mobile screens */
@media (max-width: 600px) {
  nav li a {
    font-size: 14px;
    padding: 5px;
  }
}

nav li a:hover {
  background-color: #000;
  color: red;
  text-decoration: none;
}

main {
  flex-grow: 1;
  margin: 10px 5px;
}

footer {
  background-color: #f8f9fa; /* light gray */
  color: #212529; /* almost black */
  text-align: center;
  padding: 5px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.copyright {
  margin: 0;
  font-size: 0.875em; /* slightly smaller than normal text */
}

/* navigation styles */

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

/* components */
.card-container {
  position: relative;
  margin: 10px;
  display: flex;
  justify-content: flex-end;
}

.card-container img {
  width: 90%;
  height: 100%;
  object-fit: contain; /* or use 'cover' depending on your needs */
  margin-left: auto; /* Push the image to the right */
}

.card {
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125); /* black */
  border-radius: 0.25rem;
}

.card {
  color: #008cba;
  position: absolute;
  top: 0; /* Adjust as needed */
  left: 0; /* Adjust as needed */
  width: max-content;
  background-color: rgba(255, 255, 255, 0.5); /* White with 20% transparency */
}

.card ul {
  list-style: none;
  padding-left: 0;

  li {
    list-style-type: none; /* no bullet points */
  }
}

.reviews ul {
  padding-left: 1.5em;
}

.welcome h5,
.reviews h5,
.upgrades h5,
.card h6 {
  font-weight: bold;
}

button.own-today {
  background-color: #024e67; /* Blue background */
  border: none; /* Remove border */
  color: white; /* White text */
  padding: 10px; /* Padding */
  text-align: center; /* Center text */
  text-decoration: none; /* Remove underline */
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer; /* Cursor changes to hand icon on hover */
  border-radius: 4px; /* Rounded corners */
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates a 2x2 grid */
  gap: 20px; /* Space between grid items */
}

.feature {
  background-color: #024e67; /* Blue background */
  padding: 10px; /* Space inside each box */
  text-align: center; /* Center the content */
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; /* Add this line */
}

.feature img {
  width: 100%; /* Make the image take up the full width of the box */
  object-fit: cover; /* Resize the image to cover the box */
}

.feature a {
  color: white; /* White text */
  text-decoration: none; /* Remove underline */
}

.features-grid .feature {
  height: 100px; /* Adjust as needed */
}

.features-grid .feature img {
  width: 50px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
}

.content {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 768px) {
  #wrapper {
    margin: 10px auto;
    padding: 10px;
    border: 4px solid turquoise;
    border-radius: 10px;
  }

  .card {
    margin-left: 60px;
    margin-top: 30px;
  }

  .content {
    flex-direction: row-reverse;
    /* align-items: center;  */
    justify-content: center;
    gap: 20px;
    margin: 0;
  }
}

/* Styles for the vehicle list */
#inv-display {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 0;
}

#inv-display li {
  border: 1px solid #ccc;
  padding: 10px;
}

#inv-display li img {
  width: 100%;
  height: auto;
}

/* Styles for the vehicle details */
.namePrice {
  text-align: center;
}

.namePrice hr {
  margin: 10px 0;
}

.namePrice h2 {
  margin: 0;
  font-size: 1.2em;
}

.namePrice span {
  font-size: 1em;
  color: #333;
}

/* Styles for the notice message */
.notice {
  color: red;
  font-weight: bold;
}

/* Responsive styles for mobile screens */
@media (max-width: 600px) {
  #inv-display {
    grid-template-columns: 1fr;
  }

  .namePrice h2 {
    font-size: 1em;
  }

  .namePrice span {
    font-size: 0.8em;
  }
}

li::marker {
  color: red;
}

/* body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
} */
/* 
.car-details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.car-details img {
  width: 100%;
  height: auto;
}

.car-info {
  flex-grow: 0;
  padding: 20px;
}

.price,
.miles,
.color {
  font-size: 1.2em;
  font-weight: bold;
}

@media (min-width: 601px) {
  .car-details img,
  .car-info {
    flex: 0 0 50%;
  }
}

@media (max-width: 600px) {
  .car-details {
    flex-direction: column;
  }
} */
.car-details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.car-details img {
  width: 50%;
  height: 50%;
  max-width: 100%; /* Add this line to ensure the image doesn't exceed its container width */
  object-fit: cover; /* Maintain aspect ratio */
}

.car-info {
  flex-grow: 0;
  padding: 20px;
}

.price,
.miles,
.color {
  font-size: 1.2em;
  font-weight: bold;
}

@media (min-width: 601px) {
  .car-details img,
  .car-info {
    flex: 0 0 50%;
  }
  .car-info {
    padding: 0 20px;
  }
}

@media (max-width: 600px) {
  .car-details {
    flex-direction: column;
  }

  .car-details img {
    width: 100%;
    height: 100%;
    max-width: none; /* Reset the max-width for smaller screens */
  }
}

/* .login,
.register {
  width: 300px;
  padding: 16px;
  background-color: white;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid black;
  border-radius: 4px;
}
.login input[type="email"],
.login input[type="password"],
.login input[type="text"],
.register input[type="email"],
.register input[type="password"],
.register input[type="text"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 10px 0;
  border: none;
  background: #f1f1f1;
}

.login input[type="submit"],
.register input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.login a {
  color: dodgerblue;
} */

.login,
.register {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.login p .register p {
  margin-bottom: 0;
}

form .requirements {
  font-size: 0.75rem;
  text-align: right;
  margin-bottom: 0.5rem;
  line-height: 1;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  /* margin-bottom: 5px; */
}

select,
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label,
input {
  display: block;
  /* margin-bottom: 10px; */
  width: 100%;
  box-sizing: border-box;
}

.input-wrapper {
  position: relative;
  /* display: inline-block; */
}

#togglePassword {
  position: absolute;
  right: 10px; /* adjust as needed */
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.login button,
.register button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login button:hover,
.register button:hover {
  background-color: #0056b3;
}

.login span {
  display: block;
}

/* input:required:invalid, */
input:focus:invalid {
  /* Change border color to red when input is invalid */
  border-color: red;

  /* Add a red box shadow when input is invalid */
  box-shadow: 0 0 5px red;
}

input:-moz-focusring {
  /* Change border color to green when input is valid */
  border-color: green;

  /* Add a green box shadow when input is valid */
  box-shadow: 0 0 5px green;
}

input:required:valid {
  /* Change border color to green when input is valid */
  border-color: green;

  /* Add a green box shadow when input is valid */
  box-shadow: 0 0 5px green;
}

/* Hide the valid icon by default */
.fas.fa-check-circle.valid-icon {
  display: none;
  color: green;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

/* Show the valid icon when the input is valid */
input:required:valid + .valid-icon {
  display: inline;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

/* .input-wrapper select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
} */

.input-wrapper .valid-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: green;
  display: none;
}
