<!-- content heading -->
<% if (title) { %>
   <h1><%= title %></h1>
   <% } else {
     res.redirect('/')
   } %>

<%- messages() %>
<% if (errors) { %>
 <ul class="notice">
<% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
<%  }) %>
</ul>
<% } %>

<p> <a href="/inv/add-classification">Add New Classification</a></p>
<p> <a href="/inv/add-inventory">Add New Inventory</a></p>
<p> <a href="/inv/approve-changes">Approve Changes</a></p>

<h2>Manage Inventory</h2>
<p>Choose a Classification for Inventory to Edit.</p>

<%- classificationList %>

<noscript>
  <p>JavaScript is required to view the entire contents of this page.</p>  
</noscript>  

<table id="inventoryDisplay"></table>


<script src="../../js/inventory.js"></script>